.resume-builder {
  height: 90%;
  width: 95%;
  background-image: radial-gradient(
    circle at center center,
    transparent,
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
}

.resume-builder .content {
  width: 100%;
  backdrop-filter: blur(25px) brightness(2);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: -2px 0 5px 0px #000;
}
